<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your submission has been successfully received by DJ Foreskin & DJ Antivaxx!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="logo-container">
        <img src="{{ url_for('static', filename='n10_as_logo_small.png') }}" alt="N10.AS Logo">
    </div>

    <div class="window">
        <div class="title-bar">
            <span>SUBMISSION SUCCESSFUL!</span>
            <div class="close-btn"><span>x</span></div>
        </div>
        <div class="window-body">
            <h2>AYYYYY {{ name }}!!!!!!!!!</h2>

            <p>Bless up, thank for your contribution.</p>
            <p>Check your email for the confirmation message. We will AIR your submission on March 27th, 21:00 EST, LIVE
                from the STATION</p>

            <p>oh yeah did we tell you that DJ FORESKIN and DJ ANTIVAXX will both be returning to Montréal IN PERSON
                just for this VERY SPECIAL show??? Stay vigilant and you may be able to spot them around their local
                haunts. Be warned about approaching them carelessly...</p>

            <p>Once again, this effort is a part of n10as anniverary FUNDRAISER! <a
                    href="https://n10.as/donate">n10.as/donate</a>. Please put "Open Decks Transmission” when asked if
                you are donating on behalf of a show in the donation form.</p>
            <p>N10.AS is 100% volunteer-run, no algorithms, no shareholders, just raw worldwide wadio.</p>
            <p>N10.AS is Canada’s largest volunteer-run community radio station. Please help keep it alive by donating
                via <a href="https://n10.as/donate" target="_blank">N10.AS/donate</a>!!!!</p>

            <div style="text-align: right; margin-top: 20px;">
                <a href="{{ url_for('home.index') }}" class="btn">OK</a>
            </div>
        </div>
    </div>

</body>

</html>