<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Decks Transmission - 10 year anniversary fundraiser for n10.as</title>
</head>

<body
    style="background-color: #fcdc28; font-family: 'Arial', sans-serif; color: black; margin: 0; padding: 20px; text-align: center;">

    <div
        style="background: #c0c0c0; border: 2px solid; border-top-color: #dfdfdf; border-left-color: #dfdfdf; border-right-color: #000000; border-bottom-color: #000000; max-width: 500px; margin: 0 auto; text-align: left; box-sizing: border-box;">
        <div
            style="background: #808080; color: white; padding: 3px 5px; font-weight: bold; font-size: 14px; letter-spacing: 1px;">
            <span>CONFIRMATION</span>
        </div>
        <div style="padding: 15px;">
            <p style="font-size: 14px; line-height: 1.5; margin-top: 0;">On god, you’re a real one for participating in
                our fundraiser,
                {{ name }}.</p>

            <p style="font-size: 14px; line-height: 1.5; margin-top: 0;">SAVE THE DATE: March 27th Friday, 21:00 pm
                EST!!!</p>

            <p style="font-size: 14px; line-height: 1.5; margin-top: 0;">Your submission will be aired LIVE on n10.as
                radio during our special Fundraising Transmission hosted by notorious ne’er-do-wells DJ Foreskin and DJ
                Antivaxx.</p>


            <p style="font-size: 14px; line-height: 1.5;">N10.AS is 100% volunteer-run, no algorithms, no shareholders,
                just raw worldwide wadio.</p>
            <p style="font-size: 14px; line-height: 1.5;">N10.AS is Canada’s largest volunteer-run community radio
                station. Please help keep it alive by donating via <a href="https://n10.as/donate"
                    style="color: #0000ee; text-decoration: underline;">N10.AS/donate</a>!!!! And we will appreciate if
                you donate on behalf of "Open Decks Transmission” show, hosted by the nastiest duo in the airwaves.</p>

            <p style="font-size: 14px; line-height: 1.5;">For the price of a monthly spotify subscription you can keep
                alive one of the coolest grassroots radio stations this side of St. Laurent!</p>

            <p style="font-size: 14px; line-height: 1.5; font-weight: bold; margin-bottom: 0;">IT’S PRONOUNCED
                ANTENNAS!!!!!!!!</p>
        </div>
    </div>

</body>

</html>