<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body
    style="background-color: black; color: #d3d3d3; font-family: 'Courier New', Courier, monospace; margin: 0; padding: 50px; text-align: center;">
    <div style="display: inline-block;">
        Wake up, Neo.
        <br>
        The Matrix has you.
        <br>
        Follow the white rabbit.
    </div>
</body>

</html>